#SavedResultHolder{
    background-color: chocolate;
    width: 100%;
    height: 100%;
    overflow: hidden;


}
#SavedAs-Text{
    float: left;
    height: 6%;
    margin-top: 1%;
    font-size: 200%;
    background-color: white;
    border-radius:  5px 5px 5px 5px;
    text-align: center;
    width: 65%;
    margin-left: 2%;
    border: 0.25vh solid black;
    pointer-events: none
}

#ClientName-Text{
    float: left;
    height: 6%;
    margin-top: 1%;
    font-size: 200%;
    background-color: white;
    border-radius:  5px 5px 5px 5px;
    text-align: center;
    width: 65%;
    border: 0.25vh solid black;
    margin-bottom: 1%;
    margin-left: 2%;
    pointer-events: none
}


.EditBNT{
    float: left;
    height: 6%;
    margin-top: 1%;
    font-size: 100%;
    background-color: white;
    border-radius:  5px 5px 5px 5px;
    text-align: center;
    width: 5%;
    margin-left: 2%;
    border: 0.25vh solid black;
    
}

.inputText{
    float: left;
    height: 6%;
    margin-top: 1%;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius:  5px 5px 5px 5px;
    text-align: center;
    width: 9%;
    margin-left: 7.5%;
    border: 0.25vh solid black;
    font-weight: bold;
}
















#ButtonHolder-SavedPage{
   position: absolute;
   bottom: 0;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 1%;
   margin-top: 1%;
   height: 10%;
}

#HomeBNTSavedPage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    border-radius:  15px 15px 15px 15px;
    font-size: 250%;
    border: 0.25vh solid black;
    margin-right: 1%;
    user-select: none;
}

#DownloadBNTSavedPage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    border-radius:  15px 15px 15px 15px;
    font-size: 250%;
    border: 0.25vh solid black;
    margin-right: 1%;
    user-select: none;
}

#RatingBoard-SavedPage{
    width: 95%;
    height:65%;
    background-color: white;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    float: left;
    margin-left: 2.5%;
}
.SavedFactor{
    outline: 0.25vh solid black;
    width: 48%;
    height: 12.5%;
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 1%;
}
.SavedFactorText{
    width: 55%;
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0vh solid black;
    border-right: 0.25vh solid black;
    overflow-X: auto;
    height: 100%;
    font-size: 175%;
    outline: 0px solid transparent;
    
}
.SavedResultRatingOutOf{
    outline: 0px solid transparent;
    width:25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    font-size: 175%;
}
.SavedResultDetailBnt{
    position: relative;
    float: right;
    margin-top: 0;
    background-color: lightgray;
    color: black;
    outline: 0.1vw black solid;
    font-size: 90%;
    border: 0vw solid black;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.SavedResultRatingFor{
    width: 20%;
    border: 0vh solid black;
    outline: 0px solid transparent;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 175%;
    height: 100%;
    border-right: 0.55vh solid black;
}

#SavedWhite_content{
    position: absolute;
    width: 55%;
    height: 55%;
    padding: 16px;
    border-radius:  5px 5px 5px 5px;
    border: 0.5vh solid rgba(0, 0, 0, 0.75);
    background-color: white;
    z-index: 10010;
    overflow-y: auto;
    display: block;
}

#SavedBlack_overlay{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .60;
    filter: alpha(opacity=60);
}
.SavedNotesBNTResults{
    width: 10%;
    float: right;
    outline: 0.1vw black solid;
    background-color: lightgray;
    border: 0vw solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}
.SavedNotesClassListHost{
    position: absolute;
    width: 55%;
    height: 55%;
    padding: 16px;
    
    background-color: white;
    z-index: 10010;
    overflow-y: auto;
    display: block;
}

#SavedBlack_overlay_NOTES{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .70;
    filter: alpha(opacity=70);
}

#DownloadPopupDiv{

position: absolute;
    width: 45%;
    height: max-content;
    padding: 16px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    z-index: 10010;
    overflow: hidden;
    border-radius:  5px 5px 5px 5px;
    border: 0.5vh solid rgba(0, 0, 0, 0.75);
}

#DownloadPopupDivBG{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .60;
    filter: alpha(opacity=60);
    display: flex;
    flex-direction: column;
}

#ClientNameInput{
 width: 100%;
 height: fit-content;
 font-size: 200%;

}
#DownloadExcel{
    
   margin-top: 1%;
    width: 100%;
    border-radius:  15px 15px 15px 15px;
    font-size: 200%;
    border: 0.25vh solid black;
    background-color: green;
    color: white;
    user-select: none;
}


























#ResultOverallScoreDivBackground{
    width: 50%;
    height: 15%;
    margin: 0px;
    padding: 0px;
   }
   
   #ResultOverallScoreDiv{
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 0px;
       padding: 0px;
       background-color: white;
       outline: 0.25vh solid black;
   }
   #ResultOStext{
       width: 75%;
       border-right: 0.55vh solid black;
       height: 100%;
       font-size: 145%;
       display: flex;
       align-items: center;
       justify-content: center;
       font-weight: bold;
       margin: 0px;
       padding: 0px;
   }
   #ResultOSinput{
       width: 35%;
       border: 0vh solid black;
       outline: 0px solid transparent;
       text-align: center;
       display: flex;
       align-items: center;
       justify-content: center;
       font-size: 165%;
       height: 100%;
       border-right: 0.55vh solid black;
       font-weight: bold;
       margin: 0px;
       padding: 0px;
       pointer-events: none;
   }
   #ResultOS10{
       width: 35%;
       font-size: 175%;
       height: 100%;
       padding: 0;
       display: flex;
       align-items: center;
       justify-content: center;
       font-weight: bold;
       margin: 0px;
       padding: 0px;
   }
   #DetailsBNTOS{
    
    margin-top: 0;
    background-color: lightgray;
    color: black;
    outline: 0.1vw black solid;
    font-size: 95%;
    border: 0vw solid black;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}












   #ResultFinalScoreDivBackground{
    width: 50%;
    height: 15%;
    margin: 0px;
       padding: 0px;
   }
   
   #ResultFinalScoreDiv{
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 0px;
       padding: 0px;
       background-color: white;
       outline: 0.25vh solid black;
   }
   #ResultFStext{
       width: 75%;
       border-right: 0.55vh solid black;
       height: 100%;
       font-size: 145%;
       display: flex;
       align-items: center;
       justify-content: center;
       font-weight: bold;
       margin: 0px;
       padding: 0px;
   }
   #ResultFSinput{
       width: 35%;
       border: 0vh solid black;
       outline: 0px solid transparent;
       text-align: center;
       display: flex;
       align-items: center;
       justify-content: center;
       font-size: 165%;
       height: 100%;
       border-right: 0.55vh solid black;
       font-weight: bold;
       margin: 0px;
       padding: 0px;
       pointer-events: none;
   
   }
   #ResultFS10{
       width: 35%;
       font-size: 175%;
       height: 100%;
       padding: 0;
       display: flex;
       align-items: center;
       justify-content: center;
       font-weight: bold;
       margin: 0px;
       padding: 0px;
   }









#white_contentOS{
    width: 65%;
    height: 65%;
    background-color: white;
    position: absolute;
    z-index: 1010;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto; 
    margin-bottom: auto; 
    border-radius:  5px 5px 5px 5px;
    border: 0.5vh solid rgba(0, 0, 0, 0.75);
}
#background_contentOS{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .60;
    filter: alpha(opacity=60);
}
#UsernameTextOS{
    width: 45%;
    float: left;
    outline: 0.1vw black solid;
    height: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#RatingTextOS{
    width: 45%;
    float: left;
    outline: 0.1vw black solid;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}

.NotesBNTResults1{
    width: 10%;
    float: right;
    outline: 0.1vw black solid;
    background-color: lightgray;
    border: 0vw solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;



}

#Notes_white_contentOS{
    width: 65%;
    height: 65%;
    background-color: white;
    position: absolute;
    z-index: 1010;
    font-size: 150%;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto; 
    margin-bottom: auto; 
}

#Notes_background_contentOS{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .60;
    filter: alpha(opacity=55);
}





#EditValuePopup{
    width: 50%;
    height: 10%;
    background-color: white;
    position: absolute;
    z-index: 1010;
    font-size: 150%;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto; 
    margin-bottom: auto; 
    border-radius:  15px 15px 15px 15px;
    border: 0.5vh solid rgba(0, 0, 0, 0.75);
    text-align: center;

}

#EditValuePopupBG{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .60;
    filter: alpha(opacity=65);
    
}







