body{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0px;
  outline: 0px;
  width: 100vw;
  height: 100vh;
}
#root{
 width: 100%;
 height: 100%;
 display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.App {
  text-align: center;

  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}



.BNT{
  font-size: 300%;
  width: 100%;
  margin-bottom: 2%;
  margin-top: 2%;
  border-radius:  15px 15px 15px 15px;
  border: 0.5vh solid black;
}


#Holder{
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}



#LoginRegisterPOPUP{
  position: absolute;
  width: 75%;
  height: 75%;
  padding: 16px;
  background-color: rgb(255, 255, 255);
  z-index: 10010;
  overflow-y: auto;
  font-size: 150%;
  
  
}
#LoginRegisterPOPUP-background{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .60;
  filter: alpha(opacity=60);
}

#LoginHolderBNT{
  width: 100%;
  height: 49%;
  display: table;
  margin-top: 1%;
  
  border-bottom: 0.5vh solid black;

}
#RegisterHolderBNT{
  width: 100%;
  height: 49%;
  display: table;
  
  margin-bottom: 1%;
  border-top: 0.5vh solid black;
}

.infoClassLogReg{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}


.InputClassLogReg{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90%;
  
}
.TextClassLogReg{
  width: 30%;
  font-weight: bold;
  float: left;
}

#LoginBNT-logres{
  background-color: green;
  color: white;
  border-radius:  5px 5px 5px 5px;
  border: 0vh solid black;
  font-size: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}
#RegisterBNT-logres{
  background-color: blue;
  color: white;
  border-radius:  5px 5px 5px 5px;
  border: 0vh solid black;
  font-size: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}
